<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: rgb(96, 31, 209);"><%= kindOfDay %></h1>
    
    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="Today's work">
        <button type="submit">Add</button>
    </form>
    <ul>
        <%for(let i = 0; i < newItems.length; ++i) {%>
            <li><%= newItems[i] %></li>
        <%}%>
    </ul>

</body>
</html>